.statsSection {
    background-color: #007bff; /* Color primario de fondo */
    color: white;
    padding: 70px 20px;
    text-align: center;
}

.sectionContainer {
    max-width: 900px;
    margin: 0 auto;
}

.sectionTitle {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
}

.sectionTitle::after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background-color: #ffc107; /* Color de acento amarillo */
    margin: 10px auto 0;
}

.statsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.statCard {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    padding: 30px 20px;
    border-radius: 10px;
    /* border: 1px solid rgba(255,255,255,0.2); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.statCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.statValue {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: #ffc107; /* Color de acento para el número */
}

.statLabel {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
}